.deck {
  width: 325px;
  min-height: 205px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}

.deck__link {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.deck_color_green {
  background-color: #64d583;
}

.deck_color_blue {
  background-color: #91a8f9;
}

.deck_color_pink {
  background-color: #ee92d7;
}

.deck_color_purple {
  background-color: #aa8ef0;
}

.deck_color_orange {
  background-color: #ee955e;
}

.deck_color_yellow {
  background-color: #f5d770;
}

.deck__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.deck__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deck__delete-btn {
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../images/delete.svg);
  background-position: center;
  opacity: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  border: none;
  z-index: 2;
}

.deck__delete-btn:hover {
  opacity: 100%;
}

.deck__count {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}